:root {
  --main-color: #f00;
  --main-white: #ffffff;
  --seco-white: #c0c0c0;
  --main-gradient: linear-gradient(var(--main-white), var(--seco-white));
  
  --seco-gradient: linear-gradient(to left, var(--main-white), var(--seco-white));






  --testvalue: 158; /* 158 */
  --secondary: linear-gradient(
  to left, rgb(calc(var(--testvalue) + 13), calc(var(--testvalue) + 13), calc(var(--testvalue) + 13)), rgb(calc(var(--testvalue) + 13 - 64), calc(var(--testvalue) + 13 - 64), calc(var(--testvalue) + 13 - 64)));










  --tertiary: linear-gradient(to left,
  rgb(var(--testvalue), var(--testvalue), var(--testvalue)),
  rgb(calc(var(--testvalue) - 64), calc(var(--testvalue) - 64), calc(var(--testvalue) - 64)));









  --bg: #80808040;
}

body {
	background: url(horus.png);
	font-family: 'Monaco 9';
	font-size: 16px;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
a, body {
  color: var(--main-color);
}
a {
  text-decoration: none;
}
*::selection {
  color: var(--main-white);
  background: var(--main-color);
}
.main  {
	width: 451px;
	display: table;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.th {
	font-family: 'Mona12';
	font-size: 12px;
}
.th, .tc {
	justify-content: space-around;
	display: flex;
}
.tc div, .th div {
	text-align: center;
	background: var(--main-gradient);
	border-left: 1px solid var(--seco-white);
	border-top: 1px solid var(--seco-white);
	flex: 1;
}
.tc div {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 12px;
}
.th div:last-of-type, .tc div:last-of-type  {
	border-right: 1px solid var(--seco-white);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tech {
  padding-top: 0px;
}








.notification-container {
    position: absolute;
    top: 0px; left: 0px;
    width: 16.2rem; height: 100vh;
	background: #ffffff80;
	background: black;
}
.n-feed {
    height: calc(100% - 50px);
    width: 16.2rem;
    word-break: break-all;
    overflow-y: scroll;
}
.n-title {
    background: var(--main-gradient);
    display: flex;
    align-items: center;
    padding-left: 11px;
	border: 1px solid var(--seco-white);
	font-size: 16px;
}
.n-row {
	min-height: 64px;
	background: var(--seco-gradient);
	margin: 0; padding: 0; border: 0; outline: 0;
	position: relative;
    border: 1px solid var(--seco-white);
}
.n-row-content {
	display: flex;
	position: relative;
	height: 100%;
	padding: 5px;
	padding-left: 2px;
	border-top: 1px solid var(--secondary);
}
.n-row:nth-of-type(even) {
	border: 1px solid var(--main-white);
}
.image-contents{
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: auto;
	box-sizing: border-box;
	max-width: 100%; padding-left: 0; padding-right: 0;
	padding-right: 2px;
	padding-top: 2px;
}
.image-contents > img {
  border: 1px solid #f00;
  padding-left: 1px;
}
.level {
  background: black;
  padding-left: 3px;
  padding-right: 3px;
  color: #0f0;
  border: 1px solid #c0c0c0;
  position: absolute;
  right: 5px;
  top: 3px;
  margin: 0;
}
.info {
  padding-top: 2px;
}
img {
  border: 1px solid #f00;
}
.name {
  margin-bottom: 2px;
}
.notification-content {
  min-height: 32px;
  background: linear-gradient( white, #0000 );
  border-top: 1px solid white;
  color: #f00;
  padding: 2px;
  min-width: 195px;
}
